:root {
  --text-color: #667085;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.img-earth {
  height: 25px;
  width: 25px;
  position: static;
  left: 0%;
  right: 81.76%;
  top: 0%;
  bottom: 0%;
  /*   background: #8e2424; */
}

.links a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 2rem;
}

button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  background: none;
  color: var(--text-color);
  font-size: 0.9rem;
}

button#signUp {
  background-color: #8e2424;
  color: #fff;
}

.cabecalho h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #8e2424;
}

.cabecalho h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  /* Gray/900 */
  color: #101828;
}

.cabecalho p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  /* Gray/500 */
  color: #667085;
}

/* Métrica */

.metricas-container {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: justify;
  padding: 0px 0px 96px;
  position: static;
  width: 1440px;
  height: 288px;
  left: 0px;
  top: 487px;
  /* Base/White */
  background: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.metricas-container h1 {

  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
 
  color: #8e2424;
 
}

.metricas-container h3 {

  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  color: #101828;
 
}

.metricas-container p {

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #667085;
 
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
}


.image h6 {
  color: #8e2424;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.image h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #101828;
}

.image h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #667085;
}

.perfil-foto {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0.25);
    position: absolute;
    width: 1216px;
    height: 400px;
    left: 112px;
    top: 620px;
}
